<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feima.baseproject"
    >


    <application
        android:name=".base.BaseApplication"
        android:installLocation="auto"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:persistent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.welcome.WelcomeActivity"
            android:theme="@style/TransparentTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name=".view.multilayer.SampleMultilayerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name=".view.chooseimages.ChooseImagesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name=".view.chooseimages.ChooseImagesSampleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name=".activity.set.AboutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <!-- 保活策略 -->
        <!--android:process=":live"-->
        <activity android:name=".activity.daemon.KeepLiveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"

            android:theme="@style/LiveActivityStyle"
            />
        <service android:name=".daemon.KeepLiveService"/>
        <service android:name=".daemon.KeepLiveService$InnerService"/>
        <service android:name=".daemon.KeepLiveFor5Service"/>
        <service android:name=".daemon.KeepLiveFor5Service$InnerService"/>
        <!-- 同步账户 -->
        <provider
            android:name=".daemon.KeepLiveAccountProvider"
            android:authorities="@string/account_auth_provider"
            android:exported="false"
            android:syncable="true"/>
        <service
            android:name=".daemon.KeepLiveSyncService"
            android:exported="true"
            >
            <intent-filter>
                <action
                    android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter"/>
        </service>
        <service
            android:name=".daemon.KeepAuthService"
            android:exported="true"
            >
            <intent-filter>
                <action
                    android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

    </application>


    //简单配置即可
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS_PRIVILEGED" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.BIND_JOB_SERVICE"/>

    //6.0需要申请 必要权限
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

</manifest>
